<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.payts.materiallessons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lesson4.NavDrawerActivity"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".lesson2.FirstActivity" />
        <activity android:name=".lesson2.SecondActivity" />
        <activity android:name=".lesson2.ThirdActivity" />
        <activity
            android:name=".lesson3.ToolbarActivity"
            android:label="ToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lesson3.ButtonsActivity"></activity>
        <activity
            android:name=".lesson4.ProgressToolbarActivity"
            android:label="ProgressActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".lesson5.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".lesson6.RecyclerActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lesson5.FabActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>


    </application>

</manifest>